Source: ros-iron-opennav-coverage-navigator
Section: misc
Priority: optional
Maintainer: Steve Macenski <steve@opennav.org>
Build-Depends: debhelper (>= 9.0.0), ros-iron-ament-cmake, ros-iron-ament-lint-auto <!nocheck>, ros-iron-ament-lint-common <!nocheck>, ros-iron-geometry-msgs, ros-iron-nav-msgs, ros-iron-nav2-behavior-tree, ros-iron-nav2-core, ros-iron-nav2-msgs, ros-iron-nav2-util, ros-iron-opennav-coverage, ros-iron-opennav-coverage <!nocheck>, ros-iron-opennav-coverage-bt, ros-iron-opennav-coverage-bt <!nocheck>, ros-iron-opennav-coverage-msgs, ros-iron-rclcpp, ros-iron-rclcpp-action, ros-iron-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-iron-opennav-coverage-navigator
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-iron-geometry-msgs, ros-iron-nav-msgs, ros-iron-nav2-behavior-tree, ros-iron-nav2-core, ros-iron-nav2-msgs, ros-iron-nav2-util, ros-iron-opennav-coverage, ros-iron-opennav-coverage-bt, ros-iron-opennav-coverage-msgs, ros-iron-rclcpp, ros-iron-rclcpp-action, ros-iron-ros-workspace
Description: A navigator plugin for BT Navigator for coverage planning
